In [3]:
# 请求报文
# 多条数据，一般用于推荐类模型
request_data = {
    "requestId":"90acdc24-ddb1-4d12-ab2d-868289a90117",
    "accessToken": "mib",
    "requestTime": 0,
    "resultLimit": 2,
    "commonFeatures": {
        "bill_fee1": 7840.0,
        "bill_fee2": 7800.0,
        "bill_fee3": 7800.0,
        "gsm_zj1": 8.0,
        "gsm_consume2_gap": 990.0,
        "gsm_consume2_redio": 10.989010989010989,
        "qysc_view_seq": [
            {"sku_id":"1001","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1002","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1003","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1004","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1005","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
        ],
        "qysc_clk_seq": [
            {"sku_id":"1001","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1002","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1003","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1004","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1005","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
        ],
        "qysc_order_seq": [
            {"sku_id":"1001","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1002","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1003","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1004","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
            {"sku_id":"1005","oper_time":"2024-12-01 01:00:00","first_class_type":"食品","second_class_type":"速溶咖啡"},
        ]
    },
    "rawInstances": [
        {
            "id": "220@126336@20210119309784@0",
            "rawFeatures": {
                "statis_date": "20241212",
                "skuid": "12345",
                "class_name": "电子产品",
                "goods_title": "新款智能手机",
                "c_price": 2999.99,
                "line_price": 2799.99,
                "goods_class_id": "101",
                "goods_class_name": "手机",
                "goods_7day_views": 1500,
                "goods_14day_views": 3000,
                "goods_30day_views": 6000,
                "goods_7day_sales": 100,
                "goods_14day_sales": 200,
                "goods_30day_sales": 300,
                "goods_7day_sales_rate": 0.07,
                "goods_14day_sales_rate": 0.06,
                "goods_30day_sales_rate": 0.05,
                "goods_7day_deal_rate": 0.08,
                "goods_14day_deal_rate": 0.07,
                "goods_30day_deal_rate": 0.06,
                "goods_7day_clk_rate": 0.05,
                "goods_14day_clk_rate": 0.04,
                "goods_30day_clk_rate": 0.03,
                "goods_30day_deal_avg_price": 2899.99,
                "class_type_7day_clk_rate": 0.06,
                "class_type_14day_clk_rate": 0.05,
                "class_type_30day_clk_rate": 0.04,
                "class_type_7day_deal_rate": 0.07,
                "class_type_14day_deal_rate": 0.06,
                "class_type_30day_deal_rate": 0.05
            }
        },
        {
            "id": "220@126336@20210119309784@0",
            "rawFeatures": {
                "sku_id": "1002",
                "class_name": "20241201",
                "c_price": "1",
                "line_price": "1",
                "goods_class_id": "1",
                "goods_class_name": "1",
                "goods_7day_views": "1",
                "goods_14day_views": "1",
                "goods_30day_views": "1",
                "goods_7day_sales": "1",
                "goods_14day_sales": "1",
                "goods_30day_sales": "1",
            }
        },
        {
            "id": "220@126336@20210119309784@0",
            "rawFeatures": {
                "sku_id": "1003",
                "class_name": "20241201",
                "c_price": "1",
                "line_price": "1",
                "goods_class_id": "1",
                "goods_class_name": "1",
                "goods_7day_views": "1",
                "goods_14day_views": "1",
                "goods_30day_views": "1",
                "goods_7day_sales": "1",
                "goods_14day_sales": "1",
                "goods_30day_sales": "1",
            }
        }
    ]
}

In [4]:
items = request_data['rawInstances']

In [6]:
view_seq = request_data['commonFeatures']['qy_sc_view_seq']  # 用户浏览序列
click_seq = request_data['commonFeatures']['qy_sc_click_seq']  # 用户点击序列
buy_seq = request_data['commonFeatures']['qy_sc_buy_seq']  # 用户购买序列

In [8]:
items_features = [item['rawFeatures'] for item in items]

In [10]:
import pandas as pd

df = pd.DataFrame(items_features)

In [11]:
df

,sku_id,class_name,c_price,line_price,goods_class_id,goods_class_name,goods_7day_views,goods_14day_views,goods_30day_views,goods_7day_sales,goods_14day_sales,goods_30day_sales
0,1001,20241201,1,1,1,1,1,1,1,1,1,1
1,1002,20241201,1,1,1,1,1,1,1,1,1,1
2,1003,20241201,1,1,1,1,1,1,1,1,1,1

In [ ]:
def process_sequence_unit(row, days,sequence_type='view'):
    """处理单条记录的行为序列"""
    current_item = row['sku_id']
    sequences = eval(row['seq']) # 将字符串转为列表
    
    # 获取当前时间戳
    #current_time = pd.Timestamp.now()
    #current_time = pd.Timestamp(row['static_date'])
    current_time = pd.Timestamp('20241205')
    # 过滤指定天数内的记录
    filtered_seq = [
        s for s in sequences 
        if (current_time - pd.Timestamp(s['oper_time'])).days <= days
    ]
    
    # 计算商品ID维度统计
    item_count = sum(1 for s in filtered_seq if s['sku_id'] == current_item)
    
    # 计算一级类目维度统计
    type1_count = sum(1 for s in filtered_seq 
                    if s['frist_order_type'] == row['goods_class_name'])
    
    # 计算二级类目维度统计
    type2_count = sum(1 for s in filtered_seq 
                    if s['second_order_type'] == row['class_name'])
    
    return pd.Series({
        f'u2i_{days}days_{sequence_type}_count': item_count,
        f'u2i_type1_{days}days_{sequence_type}_count': type1_count,
        f'u2i_type2_{days}days_{sequence_type}_count': type2_count
    })

In [ ]:
def process_seq(self,seq,items_df,seq_type='view'):
    # 将seq转换为dataframe
    seq_df = pd.DataFrame(seq)
    # 将seq_df与items_df合并
    df = pd.concat([items_df,seq_df],axis=1)

    if seq_type == 'clk':
        df = pd.concat([
            df,
            df.apply(lambda x: self._process_sequence_unit(x, 1), axis=1)
        ], axis=1)
        # 计算常规时间窗口的特征
    for days in [7, 14, 30, 60]:
        df = pd.concat([
            df,
            df.apply(lambda x: self._process_sequence_unit(x, days), axis=1)
        ], axis=1)
    
    return df

In [12]:
seq_df = pd.DataFrame(view_seq)

In [13]:
seq_df

  sku_id oper_time is_add_buy frist_order_type second_order_type
0   1001  20241201          1               食品              速溶咖啡
1   1002  20241201          1               食品              速溶咖啡
2   1003  20241201          1               食品              速溶咖啡
3   1004  20241201          1               食品              速溶咖啡
4   1005  20241201          1               食品              速溶咖啡

In [14]:
view_seq

[{'sku_id': '1001',
  'oper_time': '20241201',
  'is_add_buy': '1',
  'frist_order_type': '食品',
  'second_order_type': '速溶咖啡'},
 {'sku_id': '1002',
  'oper_time': '20241201',
  'is_add_buy': '1',
  'frist_order_type': '食品',
  'second_order_type': '速溶咖啡'},
 {'sku_id': '1003',
  'oper_time': '20241201',
  'is_add_buy': '1',
  'frist_order_type': '食品',
  'second_order_type': '速溶咖啡'},
 {'sku_id': '1004',
  'oper_time': '20241201',
  'is_add_buy': '1',
  'frist_order_type': '食品',
  'second_order_type': '速溶咖啡'},
 {'sku_id': '1005',
  'oper_time': '20241201',
  'is_add_buy': '1',
  'frist_order_type': '食品',
  'second_order_type': '速溶咖啡'}]

In [16]:
featuers =[item['rawFeatures'] | str(view_seq) for item in items]
featuers

TypeError: unsupported operand type(s) for |: 'dict' and 'str'

In [17]:
df

,sku_id,class_name,c_price,line_price,goods_class_id,goods_class_name,goods_7day_views,goods_14day_views,goods_30day_views,goods_7day_sales,goods_14day_sales,goods_30day_sales
0,1001,20241201,1,1,1,1,1,1,1,1,1,1
1,1002,20241201,1,1,1,1,1,1,1,1,1,1
2,1003,20241201,1,1,1,1,1,1,1,1,1,1

In [18]:
df['user_view_seq'] = [view_seq] * len(df)

In [19]:
df

,sku_id,class_name,c_price,line_price,goods_class_id,goods_class_name,goods_7day_views,goods_14day_views,goods_30day_views,goods_7day_sales,goods_14day_sales,goods_30day_sales,user_view_seq
0,1001,20241201,1,1,1,1,1,1,1,1,1,1,"[{'sku_id': '1001', 'oper_time': '20241201', '..."
1,1002,20241201,1,1,1,1,1,1,1,1,1,1,"[{'sku_id': '1001', 'oper_time': '20241201', '..."
2,1003,20241201,1,1,1,1,1,1,1,1,1,1,"[{'sku_id': '1001', 'oper_time': '20241201', '..."

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sku_id             3 non-null      object
 1   class_name         3 non-null      object
 2   c_price            3 non-null      object
 3   line_price         3 non-null      object
 4   goods_class_id     3 non-null      object
 5   goods_class_name   3 non-null      object
 6   goods_7day_views   3 non-null      object
 7   goods_14day_views  3 non-null      object
 8   goods_30day_views  3 non-null      object
 9   goods_7day_sales   3 non-null      object
 10  goods_14day_sales  3 non-null      object
 11  goods_30day_sales  3 non-null      object
 12  user_view_seq      3 non-null      object
dtypes: object(13)
memory usage: 444.0+ bytes

In [ ]:
pred = self.model.predict(df)